{% extends 'partials/base.html.twig' %}

{% block content %}
    <article class="post-2 page type-page status-publish hentry">   {# feel free to use your own classes here #}
        <div class="entry-content">
            {{ page.content | raw }}  {# any page content will be shown before the count data graphics #}
        </div>

        <h3 id='allcount'>Cumulated Visitor Count: {{ counter() }}</h3>
        <button id="showPrevMonth">< Month</button>
        <button id="showToday">Today</button>
        <canvas id="ipChart"></canvas>
    </article>
{% endblock %}
